body {
  background: rgb(182, 98, 9);
  font-family: "Indie Flower", cursive;
  font-size: 40px;
}

.game {
  text-align: center;
}

.board {
  margin: 10% 0;
}

.square {
  width: 150px;
  height: 150px;
  margin: 5px;
  background: #222;
  font-weight: bold;
  vertical-align: top;
  border: none;
}

img {
  width: 145px;
  height: 150px;
}

.square:hover {
  background: #333;
}

.square:focus {
  outline: none;
}

@media (max-width: 640px) {
  .square {
    width: 75px;
    height: 75px;
  }

  img {
    width: 70px;
    height: 75px;
  }
}
