.game {
  text-align: center;
}

.board {
  margin: 10% 0;
}

.square {
  width: 150px;
  height: 150px;
  font-size: 60px;
  margin: 5px;
  background: #222;
  color: #ccc;
  vertical-align: top;
}

.square:hover {
  background: #444;
}

.square:focus {
  outline: none;
}
